<div class = "container">
    <div class = "row">
        <div id="logo">
			<img src="/public/assets/images/logo.png" alt="Krusty Krab" />
            <br> <br> <br>
			<h2>Welcome to the Krusty Krab!</h2>
             <br> <br>
		</div>
        <div class="row">
			  {{#each burger_data}}
			  	{{#unless this.devoured}}
				<div class="col-md-9 text-center">
					<pre>{{this.id}}. {{this.burger_name}}
					</pre>
				</div>
				<div class="col-md-3 text-center">
					<form class="devour-form button-size">
						<input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
						<button type="submit" class="btn btn-default">Devour it!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
    </div>
</div>